Checks: '*,
    -fuchsia-default-arguments-*,
    -llvm-header-guard,-fuchsia-overloaded-operator,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -llvmlibc-callee-namespace, -modernize-use-trailing-return-type,
    -llvm-restrict-systemlibc-headers,
    -llvmlibc-implementation-in-namespace,
    -llvmlibc-restrict-system-libc-headers,
    -hicpp-named-parameter,
    -misc-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -google-runtime-references,
    -readability-named-parameter,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -misc-no-recursion,
    -google-readability-braces-around-statements,
    -hicpp-braces-around-statements,
    -readability-braces-around-statements,
    -google-build-using-namespace,
    -fuchsia-trailing-return,
    -fuchsia-multiple-inheritance,
    -fuchsia-statically-constructed-objects'
